@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&display=swap');

body {
  font-family: 'Akatab', sans-serif;
}

/* Typography */
h1 {
  font-family: 'Akatab', sans-serif;
  font-size: 45px;
  font-weight: 700;
}

h2 {
  font-family: 'Akatab', sans-serif;
  font-size: 45px;
  font-weight: 600;
}

h3 {
  font-family: 'Akatab', sans-serif;
  font-size: 40px;
  font-weight: 500;
}

h4 {
  font-family: 'Akatab', sans-serif;
  font-size: 35px;
  font-weight: 400;
}

.copyright-text {
  font-family: 'Akatab', sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin: 0;
}

.powered-text {
  font-family: 'Akatab', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
}

.contact-item {
  font-family: 'Akatab', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.nav-links a,
.dropbtn,
.dropdown-content a,
.btn-learn-more,
.btn-sales {
  font-family: 'Akatab', sans-serif;
}

.btn-learn-more,
.btn-learn-more-products,
.btn-shop,
.btn-read-more,
.hp-btn-read,
.btn-see-more-gray,
.hp-btn-see-more {
  font-family: 'Akatab', sans-serif !important;
  font-size: 18px !important;
  font-weight: 500;
  text-transform: uppercase;
}
